* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background-color: rgb(1, 96, 115);
  font-family: "Poppins";
  padding: 0 1.5rem;
}

.main {
  min-width: 450px;
  min-height: 480px;
  background-color: white;
  border-radius: 10px;
}

h2 {
  padding: 15px;
  font-size: 1.8rem;
  border-bottom: 1px solid #aaa;
}
.wrapper {
  margin: 1.25rem;
}

.input-box {
  position: relative;
}

.input-box input {
  border: 2px solid #aaa;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 1.1rem;
  padding-left: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.input-box span {
  position: absolute;
  right: 12px;
  line-height: 50px;
  color: #848282;
}

.input-box span:hover {
  color: #43a047;
}

.wrapper .pass-indicator {
  margin-top: 0.75rem;
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 25px;
}

.pass-indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}

.pass-indicator#weak::before {
  width: 20%;
  background: #e64a4a;
}

.pass-indicator#medium::before {
  width: 50%;
  background: #f1c80b;
}
.pass-indicator#medium-strong::before {
  width: 70%;
  background: #cee615;
}

.pass-indicator#strong::before {
  width: 100%;
  background: #43a047;
}

.wrapper .pass-length {
  margin: 1.5rem 0 1.25rem 0;
}

.pass-length .details {
  display: flex;
  justify-content: space-between;
}

.pass-length input {
  width: 100%;
  height: 5px;
}

.pass-settings .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.pass-settings .options .option {
  display: flex;
  align-items: center;
  width: calc(100% / 2);
  margin-bottom: 0.5rem;
}

.options .option:first-child {
  pointer-events: none;
}

.options .option:first-child input {
  opacity: 0.7;
}

.options .option input {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.options .option label {
  cursor: pointer;
  color: #4f4f4f;
  padding-left: 0.63rem;
}

.wrapper .generate-btn {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #005CC8;
  font-size: 1.06rem;
  padding: 0.94rem 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0.94rem 0 1.3rem;
}

.generate-btn:hover {
  background: #024189;
  transition: all 0.2s ease;
}

.generate-btn:active {
  transform: translateY(5px);
}
